<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    
<h1 >TODO LIST</h1>
<h3>You can save your check list easily and will be able to mark the item as completed by clicking "[]" and delete the item by clicking "x".You will also be able to add image for your particular inserted list item.</h3>
 <form action="/" method="post" enctype="multipart/form-data">
        <input id="jjjk" name="item" placeholder="write here"/><br/><br/>
        <input id="sss" type="file" name="pic"/><br/><br/>
        <button>SAVE</button>
    </form> 
<br/>
<br/>

<div class="body1">
    <ul>
        <% for(var i=0;i<todos.length;i++){   %>
            
            <%if(todos[i].isComplete) { %>
            <li id="clicks"><span style="text-decoration: line-through;" id="val"><%=todos[i].name%></span><img src="<%=todos[i].url%>" style="height:30px"/> <span id="<%=todos[i].name%>" onclick="complete(event.target.id)"> ✔</span><span id="<%=todos[i].name%>" onclick="deleteh(event.target.id)"> x</span></li>
          
            <% }else {%>
        <li id="clicks"><span  id="val"><%=todos[i].name%></span><img src="<%=todos[i].url%>" style="height:30px"/> <span id="<%=todos[i].name%>" onclick="complete(event.target.id)"> [ ]</span><span id="<%=todos[i].name%>" onclick="deleteh(event.target.id)">x</span></li> 
            <%} } %>  
      </ul> 
    </div>
    </body>
    </html>
      <script >


    function complete(z){
        var request=new XMLHttpRequest();
    request.open("post","/read");
    request.setRequestHeader("Content-type","application/json");
    console.log(z);
  request.send(JSON.stringify({it:z}));
  request.addEventListener("load",function(event){
   
  document.location.reload(true);
  })
    }

    function deleteh(z){
        var request=new XMLHttpRequest();
    request.open("post","/delete");
    request.setRequestHeader("Content-type","application/json");
    console.log(z);
    request.send(JSON.stringify({it:z}));  
    request.addEventListener("load",function(event){
        document.location.reload(true);
    })
    }
      </script>


 